body{
  background-color: #EFFAD3;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1{
color: #28ABB9;


}
h3{
color: #28ABB9;

}
